.custom-navbar {
    background-color: #2D2F59;
    color: #ffffff;
   
  }

.custom-navbar a:hover{
  color: #c5c5c5 !important;
  }

.titulo-centrado, .enlace-historia{
  text-align: center;
}

  /*Apartado de estilo para detallesRecetas*/
.contenedorDetallesPlatillo, #carouselAutoplaying, .descripcion-platillo{
  margin-top: 20px !important;
}

.descripcion-platillo{
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 5%;
  padding: 25px 25px 0 25px !important;
  text-align: justify;
}

.imagen-platillo img {
  height: 300px; 
  object-fit: cover; 
}

.datos-adicionales{
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

.descripcion-platillo p a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.utensilios, .ingredientes, .pasos{
  border: 1px solid black;
  margin: 30px 10px 0 10px !important;
  padding: 10px;
  border-radius: 5%;
    /* Reemplaza ##005187 con el color que desees */
  }

/* Estilo de las imágenes */
.img-receta {
    width: 100%; /*  para que las imágenes ocupen el 100% del contenedor */
    height: auto;
    max-width: 300px; /*  el tamaño máximo de las imágenes */
    margin-right: 20px; /*  para menos espacio entre imagen y texto */
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    transition: transform 0.2s; /* Transición suave para el efecto hover */
}

.img-receta:hover {
    transform: scale(1.05); /* Efecto de zoom suave al hacer hover */
}

/* Estilo del texto */
.texto-receta {
    flex: 1;
    text-align: justify; /* para justificar el texto */
    color: #393C73; /* Texto en como morado  */
}

/* Estilo del cuadro que contiene el texto */
.texto-contenedor {
    padding: 15px; /*  para más espacio interno */
    background-color: #FFFFFF; /* Fondo blanco para el cuadro de texto */
    border: 1px solid #05450A; /* Borde verde oscuro */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*  sombra para efecto de elevación */
}

/* Ajustes para títulos */
.titulo-receta {
    color: #E38349; /* Títulos en color cálido */
    text-align: center; /* Centra los títulos */
    margin-bottom: 15px; /* Espacio inferior para los títulos */
    font-size: 1.5em; /* Tamaño de fuente para títulos ajustado */
    font-family: 'Helvetica Neue', Arial, sans-serif; 
}
.titulo-naranja{
  color: #E38349 !important; 
}
a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

@media screen and (max-width: 412px){
  .descripcion-platillo{
    margin-left: 0px;
  }
}
  /*Fin de apartado de detallesRecetas*/

  /* Estilo del texto para historia */
.texto-Ghistoria {
  flex: 1;
  text-align: justify; 
  color: #393C73;
  padding: 10px;
  border: 1px solid black; 
  border-radius: 8px; 
}

.titulo-Ghistoria {
  color: #E38349;
  font-size: 1.5em;
  font-family: 'Helvetica Neue', Arial, sans-serif; 
}

.bg-celeste {
  background-color: #00aae4; /* Celeste */
}

.carouselR {
  width: 508px;
  height: 388px;
  overflow: hidden;
}

.carouselR-img {
  width: 530px; /* Ancho deseado */
  height: 388px; /* Altura deseada */
}

.carouselR1 {
  width: 508px;
  height: 318px;
  overflow: hidden;
}

.carouselR-img1 {
  max-width: 100%;  /* Asegura que la imagen no sobresalga */
  height: auto;     /* Mantiene la proporción */
}

.icono-img {
  width: 32px; /* Cambia el valor según necesites */
  height: 32px; /* Mantiene la proporción de la imagen */
}

/* -----Estilos para detalle de historia-------*/
.h1-title {
    color: #393c73;
}

/*para el dato curioso*/
.lead-historia { 
    color: #e38349;
    text-align: center; /* Centrar el texto destacado */
    font-weight: bold;
}

.container-detalle-historia {
    max-width: 1400px; /* Limitar el ancho del contenido */
    margin: auto; /* Centrar el contenido */
    padding: 2rem; /* Espaciado interno de la caja */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    background-color: #f0f2f2;
}

/* Tarjetas */
.card-historia {
    background-color: #ffffff; /* Color de la tarjeta */
    border: 1px solid #e0e0e0; /* Borde sutil */
    margin-bottom: 3rem; /* Separación entre tarjetas */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    display: flex; /* Hacer que las tarjetas usen flexbox */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.2s, box-shadow 0.2s; /* Transición suave al interactuar */
    width: calc(100% - 40px);
    max-width: 95%; /* ancho del contenedor */
    margin: 20px auto; /* Centrar la tarjeta con márgenes automáticos */
}

.card-body-historia {
    display: flex;
    align-items: center; 
    gap: 20px; /* Espacio entre la imagen y el texto */
}

/* Contenedor de la imagen */
.img-container {
    max-width: 100%; /* La imagen no se expandirá más allá del 100% del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    display:flex;
    justify-content: center;
}

/* Estilo de la imagen */
.card-img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 500px;
    max-width: 400px;
    border-radius: 8px; /* Bordes redondeados */
}

/* Contenedor del texto */
.text-container {
    flex: 1; /* Permite que el contenedor de texto se expanda */
    text-align: justify; 
    margin-bottom: 20px;
}

/* Títulos de las tarjetas */
.card-title-historia {
    font-size: 2rem; /* Tamaño de fuente más grande */
    color: #05450a; /* Color de título usando la paleta de colores */
    text-transform: uppercase; /* Texto en mayúsculas para más impacto */
}

/* Texto de las tarjetas */
.card-text-historia {
    color: #2D2F59; /* Color principal del texto */
    line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
    margin-top: 10px; /* Espacio superior para separación */
    margin-bottom: 10px;
}

/* Dato Curioso */
.dato-curioso {
    /*max-width: 1200px;*/
    margin: 10px; 
    padding: 1px; /* Añade un poco de relleno para que no se vea tan ajustado */
}

/* Estilo para el ícono */
.bi-lightbulb {
    color: #e38349; /* Color amarillo que representa una idea */
    font-size: 4.5rem; /* Aumenta el tamaño del icono */
}

.btn-primary-historia { 
    background-color: #0583f2; /* Color de fondo */
}
/*------Fin de estilos para detalle de historia-------*/