.custom-navbar {
    background-color: #2D2F59;
    color: #ffffff;
    /* Reemplaza ##005187 con el color que desees */
  }
  /* Estilo del texto para historia */
.texto-Ghistoria {
  flex: 1;
  text-align: justify; 
  color: #393C73;
  padding: 10px;
  border: 1px solid black; 
  border-radius: 8px; 
  background-color: rgba(255, 175, 3, 0.226);
}

.titulo-Ghistoria {
  color: #E38349;
  font-size: 1.5em;
  font-family: 'Helvetica Neue', Arial, sans-serif; 
}
