.custom-navbar {
    background-color: #2D2F59;
    color: #ffffff;
   
  }

.custom-navbar a:hover{
  color: #c5c5c5 !important;
  }

.titulo-centrado, .enlace-historia{
  text-align: center;
}

  /*Apartado de estilo para detallesRecetas*/
.contenedorDetallesPlatillo, #carouselAutoplaying, .descripcion-platillo{
  margin-top: 20px !important;
}

.descripcion-platillo{
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 5%;
  padding: 25px 25px 0 25px !important;
  text-align: justify;
}
.imagen-platillo img {
  height: 300px; 
  object-fit: cover; 
}

.datos-adicionales{
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

.descripcion-platillo p a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.utensilios, .ingredientes, .pasos{
  border: 1px solid black;
  margin: 30px 10px 0 10px !important;
  padding: 10px;
  border-radius: 5%;
    /* Reemplaza ##005187 con el color que desees */
  }

/* Estilo de las imágenes */
.img-receta {
    width: 100%; /*  para que las imágenes ocupen el 100% del contenedor */
    height: auto;
    max-width: 300px; /*  el tamaño máximo de las imágenes */
    margin-right: 20px; /*  para menos espacio entre imagen y texto */
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    transition: transform 0.2s; /* Transición suave para el efecto hover */
}

.img-receta:hover {
    transform: scale(1.05); /* Efecto de zoom suave al hacer hover */
}

/* Estilo del texto */
.texto-receta {
    flex: 1;
    text-align: justify; /* para justificar el texto */
    color: #393C73; /* Texto en como morado  */
}

/* Estilo del cuadro que contiene el texto */
.texto-contenedor {
    padding: 15px; /*  para más espacio interno */
    background-color: #FFFFFF; /* Fondo blanco para el cuadro de texto */
    border: 1px solid #05450A; /* Borde verde oscuro */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*  sombra para efecto de elevación */
}

/* Ajustes para títulos */
.titulo-receta {
    color: #E38349; /* Títulos en color cálido */
    text-align: center; /* Centra los títulos */
    margin-bottom: 15px; /* Espacio inferior para los títulos */
    font-size: 1.5em; /* Tamaño de fuente para títulos ajustado */
    font-family: 'Helvetica Neue', Arial, sans-serif; 
}

/* Efectos de hover para botones o enlaces (opcional) */
/* Color azul vibrante para enlaces */
/* a {
    color: #0563F2; 
    text-decoration: none; 
} */

a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

@media screen and (max-width: 412px){
  .descripcion-platillo{
    margin-left: 0px;
  }
}
  /*Fin de apartado*/

  /* Estilo del texto para historia */
.texto-Ghistoria {
  flex: 1;
  text-align: justify; 
  color: #393C73;
  padding: 10px;
  border: 1px solid black; 
  border-radius: 8px; 
}

.titulo-Ghistoria {
  color: #E38349;
  font-size: 1.5em;
  font-family: 'Helvetica Neue', Arial, sans-serif; 
}
